<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dab99d869d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    
</body>
<footer>
    <footer class="footer">
        <div class="footer__div">
            <nav class="footer__div__nav__redes"> 
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>           
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-telegram"></i></a>
            </nav>
            <div class="footer__div__div__logos">
                <img src="/img/Logo.png" alt="">
            </div>
            <div class="footer__div__div__copyrigth">
                <p>Copyrigth&copy; 2023 Ar3Dex, inc</p>
                <h5>Informacion Legal | Politicas de privacidad</h5>
            </div>
            <div class="footer__div__metodos--pago--envio">
                <img class="footer__div__metodos--pago--envio--pago" src="/img/footer/formas-pago.png" alt="formas de pago">
                <img class="footer__div__metodos--pago--envio--envio" src="/img/footer/formas-envio.png" alt="formas de envio">
            </div>
        </div>
    </footer>
</html>