<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/2872c6d2ab.js"
      crossorigin="anonymous"
    ></script>
    <title>Ar3dex Compras</title>
  </head>
  <body>
    <header class="header">
      <section>
        <div class="header_main">
          <img src="/img/Logo.png" alt="logo" class="logo" />

          <a href="#" class="hamburguer">
            <i class="fa fa-bars"></i>
          </a>
          <span class="iconos">
            <a href="" class="carrito"><i class="fa-solid fa-cart-plus"></i></a>
            <a href="" class="cuenta"><i class="fa-regular fa-user"></i></a>
          </span>
        </div>
      </section>

      <div class="barra">
        <nav class="nav_bar">
          <ul>
            <div class="div_ul">
              <li><a href="#">Figuras</a></li>
            </div>
            <div class="div_ul">
              <li><a href="#">Coleccion</a></li>
            </div>
            <div class="div_ul">
              <li><a href="#">Contactos</a></li>
            </div>
            <div class="div_ul">
              <li><a href="#">Blog</a></li>
            </div>
            <div class="div_ul">
              <li><a href="#">Ofertas</a></li>
            </div>
          </ul>
        </nav>
        <div class="search-bar">
          <input
            class="search-bar-input"
            type="text"
            placeholder="Buscar productos..."
          /><i
            class="fa-solid fa-magnifying-glass"
            id="lupita"
            style="color: #969696"
          ></i>
        </div>
      </div>
    </header>
  </body>