<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index | Ar3dex</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/9687515d25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <section>
          <div class="header_main">
            <a href="/"><img src="/img/Logo.png" alt="logo" class="logo" /></a>
  
            <a href="#" class="hamburguer">
              <i class="fa fa-bars"></i>
            </a>
            <span class="iconos">
              <a href="/product-cart" class="carrito"><i class="fa-solid fa-cart-plus"></i></a>
              <a href="/login" class="cuenta"><i class="fa-regular fa-user"></i></a>
            </span>
          </div>
        </section>
  
        <div class="barra">
          <nav class="nav_bar">
            <ul>
              <div class="div_ul">
                <li><a href="#">Figuras</a></li>
              </div>
              <div class="div_ul">
                <li><a href="#">Coleccion</a></li>
              </div>
              <div class="div_ul">
                <li><a href="#">Contactos</a></li>
              </div>
              <div class="div_ul">
                <li><a href="#">Blog</a></li>
              </div>
              <div class="div_ul">
                <li><a href="#">Ofertas</a></li>
              </div>
            </ul>
          </nav>
          <div class="search-bar">
            <input
              class="search-bar-input"
              type="text"
              placeholder="Buscar productos..."
            /><i
              class="fa-solid fa-magnifying-glass"
              id="lupita"
              style="color: #969696"
            ></i>
          </div>
        </div>
      </header>
    <main class="index__main">
        <!-- Sección oferta -->
        <section class="index__main__section--banner">
            <a href="#Oferta_pokemon"><img src="/img/Main-banner.svg" alt="Oferta_pokémon"></a>
        </section>
        <!-- Carrusel - Productos destacados -->
        <section class="index__main__section--products">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-1.png">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <div class="index__main__section__article--carousel--box-text">
                      <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                      <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                    </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                    <img class="index__main__section__article--carousel--product-img" src="/img/Figura-2.png">
                    <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                    <div class="index__main__section__article--carousel--box-text">
                      <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                      <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                    </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-5.png">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <div class="index__main__section__article--carousel--box-text">
                        <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                        <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                      </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-4.png">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <div class="index__main__section__article--carousel--box-text">
                        <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                        <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                      </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-5.png">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <div class="index__main__section__article--carousel--box-text">
                        <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                        <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                      </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-1.png">
                      <div class="index__main__section__article--carousel--box-text">
                        <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                        <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                      </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-2.png">
                      <div class="index__main__section__article--carousel--box-text">
                        <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                        <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                      </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-3.png">
                      <div class="index__main__section__article--carousel--box-text">
                        <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                        <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                      </div></a>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <a href="/product-detail">
                      <img class="index__main__section__article--carousel--box-img" src="/img/Article-Frame.png" />
                      <img class="index__main__section__article--carousel--product-img" src="/img/Figura-4.png">
                      <div class="index__main__section__article--carousel--box-text">
                        <h4 class="index__main__section__article--carousel--name">ProductName</h4>
                        <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                      </div></a>
                  </article>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              </div>
        </section>
        <!-- Categorías destacadas -->
        <section class="index__main__section--categories">
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Category-1.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Category-2.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Category-3.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Category-4.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Category-5.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
        </section>
    </main>
    <footer class="footer">
      <div class="footer__div">
          <nav class="footer__div__nav__redes"> 
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>           
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-telegram"></i></a>
          </nav>
          <div class="footer__div__div__logos">
              <img src="/img/Logo.png" alt="">
          </div>
          <div class="bajo-footer">
              <div class="footer__div__metodos--pago--envio">
                  
                  <img class="footer__div__metodos--pago--envio--envio" src="/img/footer/formas-envio.png" alt="formas de envio">
                  
                  <div class="footer__div__div__copyrigth">
                      <p>Copyrigth&copy; 2023 Ar3Dex, inc</p>
                      <h5>Informacion Legal | Politicas de privacidad</h5>
                  </div>
                  <img class="footer__div__metodos--pago--envio--pago" src="/img/footer/formas-pago.png" alt="formas de pago">
              </div>
              
              
          </div>
          
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper",{
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: -6,
          stretch: -30,
          depth: 80,
          modifier: 2,
          slideShadows: false,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        loop:true,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },});
    </script>
</body>
</html>