<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ar3Dex | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6d097c18fe.js" crossorigin="anonymous"></script>
</head>
<body class="home">
<header>
        <section class="header__section__div">
            <div class="logo">
                <img src="img/logo.png" alt="Logo de ar3dex" />
            </div>

            <div class="search-bar">
                <input class="search-bar-input" type="text" placeholder="Buscar productos..." /><i class="fa-solid fa-magnifying-glass" id="lupita" style="color: #969696;"></i>
                
            </div>

            
        </section>
        <div class="promos">
            <p>Comprá todas las cosas lindas que vendemos!</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Figuras</a></li>
                <li><a href="#">Llaveros</a></li>
                <li><a href="#">Mates</a></li>
            </ul>
            
            <ul class="ul_2">
                <li><a href="/register"><i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-basket-shopping"></i></a></li>
            
        </ul>
        </nav>
        <div class="home_header_mobile_hamburger">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </div>
</header>



<main class="home__main">
<img class="home_main_banner" src="img/img-home-banner.png" alt="">
    <section class="home__main__section">

        <h2 class="home__main__section__h2" >Basado en tu última visita</h2>

            <div class="home__main__section__bloques">
                <article class="home__main__section__article">
                    <img src="img/2b.jpg" alt="Nier Automata 2B" />
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="montos">
                        <p class="precio">$6,770</p>
                    <p class="descuento">40% OFF</p>
                    </div>
                    <p class="nombre">Nier Automata 2B</p>
                </article>
                <article class="home__main__section__article">
                    <img class="image" src="img/goku.jpeg" alt="Gokú pelito blanco" />
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="montos">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="nombre">Gokú pelito blanco</p>
                </article>
                <article class="home__main__section__article">
                    <img class="image" src="img/naruto.png" alt="Naruto" />
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="montos">
                        <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    </div>
                    <p class="nombre">Naruto</p>
                </article>
                <article class="home__main__section__article">
                    <img class="image" src="img/wolverine.png" alt="Wolverine" />
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="montos">
                        <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    </div>
                    <p class="nombre">Wolverine"</p>
                </article>
            </div>
        </section>

        <section class="home__main__section">
            
            <h2>Ofertas</h2>
                
            <div class="home__main__section__bloques" >
                
                    <article class="home__main__section__article">
                        <img src="img/2b.jpg" alt="Nier Automata 2B" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$6,770</p>
                        <p class="descuento">40% OFF</p>
                        </div>
                        <p class="nombre">Nier Automata 2B</p>
                    </article>
                    <article class="home__main__section__article">
                        <img class="image" src="img/goku.jpeg" alt="Gokú pelito blanco" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        </div>
                        <p class="nombre">Gokú pelito blanco</p>
                    </article>
                    <article class="home__main__section__article">
                        <img class="image" src="img/naruto.png" alt="Naruto" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        </div>
                        <p class="nombre">Naruto</p>
                    </article>
                    <article class="home__main__section__article">
                        <img class="image" src="img/wolverine.png" alt="Wolverine" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        </div>
                        <p class="nombre">Wolverine"</p>
                    </article>
                    <article class="home__main__section__article">
                        <img src="img/2b.jpg" alt="Nier Automata 2B" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$6,770</p>
                        <p class="descuento">40% OFF</p>
                        </div>
                        <p class="nombre">Nier Automata 2B</p>
                    </article>
                    <article class="home__main__section__article">
                        <img class="image" src="img/goku.jpeg" alt="Gokú pelito blanco" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        </div>
                        <p class="nombre">Gokú pelito blanco</p>
                    </article>
                    <article class="home__main__section__article">
                        <img class="image" src="img/naruto.png" alt="Samsung Galaxy naruto" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        </div>
                        <p class="nombre">Naruto</p>
                    </article>
                    <article class="home__main__section__article">
                        <img class="image" src="img/wolverine.png" alt="Wolverine" />
                        <div class="camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="montos">
                            <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        </div>
                        <p class="nombre">Wolverine"</p>
                    </article>
                </div>
        </section>
</main>

<footer>
        
        <div class="redes-sociales">
            <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook" style="color: #24c773;"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color:#24c773;"></i></a>
            <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa-brands fa-instagram" style="color:#24c773"></i></a>
            
        </div>
        
        <div class="contacto">
            <h1>Contacto</h1>
            <p>Dirección: Calle Principal 123</p>
            <p>Teléfono: (123) 456-7890</p>
            <p>Correo electrónico: info@ar3dex.com</p>
        </div>
        
    
        
</footer>

</body>
</html>