<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index | Ar3dex</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/9687515d25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="index__main">
        <!-- Sección oferta -->
        <section class="index__main__section">
            <a href="#Oferta_pokemon"><img src="/img/OfertaPokemon.svg" alt="Oferta_pokémon"></a>
        </section>
        <!-- Carrusel - Productos destacados -->
        <section class="index__main__section">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                  <article class="swiper-slide index__main__section__article--carousel">
                    <img class="index__main__section__article--carousel--image" src="/img/article-img.png" />
                    <h4 class="index__main__section__article--carousel--name">Nombre-producto</h4>
                    <h4 class="index__main__section__article--carousel--price">$$$$</h4>
                  </article>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              </div>
        </section>
        <!-- Categorías destacadas -->
        <section class="index__main__section">
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Picadores.png" />
            <h4 class="index__main__section__article--category--name">Nombre-categoría</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Mate.png" />
            <h4 class="index__main__section__article--category--name">Nombre-categoría</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Figuras.png" />
            <h4 class="index__main__section__article--category--name">Nombre-categoría</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Mascaras.png" />
            <h4 class="index__main__section__article--category--name">Nombre-categoría</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/img/Llaveros.png" />
            <h4 class="index__main__section__article--category--name">Nombre-categoría</h4>
          </article>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: -20,
          depth: 50,
          modifier: 3,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        loop:true,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      });
    </script>
</body>
</html>