<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ar3dex | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6d097c18fe.js" crossorigin="anonymous"></script>
</head>
<header>

</header>
    
    
    
    <main class="login__main">
        <section class="box__card">
            <div class="box__card--title">
                <h3>Login</h3>
                <hr>
            </div>
            <form action="/profile" class="form">
            
                <div class="form__box">
                    <label class="form__label" for="email">Email</label>
                    <input class="form__input" id="email" type="email" placeholder="correo@correo.com" name="email">
                </div>
                <div class="form__box">
                    <label class="form__label" for="password">Contraseña</label>
                    <div class="form__box--position">
                        <input class="form__input" id="password" type="password" placeholder="tu contraseña" name="password"><span><i class="fa-solid fa-eye"></i></span>
                    </div>
                </div>

                
                <div class="form__box">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Recordame</label>
                </div>
                <div class="box__end">
                    
                    <button class="button button__primary" type="submit">Ingresá</button>
                </div>
                
            </form>
            
        </section>
    </main>
    <div class="form__box__p">
        <p>¿Olvidaste tu contraseña? <a class="link" href="/">Restablecer contraseña</a></p>
    </div>
    <footer>

    </footer>
    
    </body>
    </html>
    
</body>

</html>