<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ar3dex | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6d097c18fe.js" crossorigin="anonymous"></script>
</head>

<header class="header">
    <section>
      <div class="header_main">
        <a href="/"><img src="/img/Logo.png" alt="logo" class="logo" /></a>

        <a href="#" class="hamburguer">
          <i class="fa fa-bars"></i>
        </a>
        <span class="iconos">
          <a href="/product-cart" class="carrito"><i class="fa-solid fa-cart-plus"></i></a>
          <a href="/login" class="cuenta"><i class="fa-regular fa-user"></i></a>
        </span>
      </div>
    </section>

    <div class="barra">
      <nav class="nav_bar">
        <ul>
          <div class="div_ul">
            <li><a href="#">Figuras</a></li>
          </div>
          <div class="div_ul">
            <li><a href="#">Coleccion</a></li>
          </div>
          <div class="div_ul">
            <li><a href="#">Contactos</a></li>
          </div>
          <div class="div_ul">
            <li><a href="#">Blog</a></li>
          </div>
          <div class="div_ul">
            <li><a href="#">Ofertas</a></li>
          </div>
        </ul>
      </nav>
      <div class="search-bar">
        <input
          class="search-bar-input"
          type="text"
          placeholder="Buscar productos..."
        /><i
          class="fa-solid fa-magnifying-glass"
          id="lupita"
          style="color: #969696"
        ></i>
      </div>
    </div>
  </header>
    
    
    <main class="login__main">
        <section class="box__card">
            <div class="box__card--title">
                <h3>Login</h3>
                <hr>
            </div>
            <form action="/profile" class="form">
            
                <div class="form__box">
                    <label class="form__label" for="email">Email</label>
                    <input class="form__input" id="email" type="email" placeholder="correo@correo.com" name="email">
                </div>
                <div class="form__box">
                    <label class="form__label" for="password">Contraseña</label>
                    <div class="form__box--position">
                        <input class="form__input" id="password" type="password" placeholder="tu contraseña" name="password"><span><i class="fa-solid fa-eye"></i></span>
                    </div>
                </div>

                
                <div class="form__box">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Recordame</label>
                </div>
                <div class="form__box__pp">
                  <p>¿No tenés cuenta? <a class="link" href="/register">Registrate</a></p>
              </div>
                <div class="box__end">
                    
                    <button class="button button__primary" type="submit">Ingresá</button>
                </div>
                
            </form>
            
        </section>
    </main>
    <div class="form__box__p">
        <p>¿Olvidaste tu contraseña? <a class="link" href="/">Restablecer contraseña</a></p>
    </div>
    <footer class="footer">
      <div class="footer__div">
          <nav class="footer__div__nav__redes"> 
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>           
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-telegram"></i></a>
          </nav>
          <div class="footer__div__div__logos">
              <img src="/img/Logo.png" alt="">
          </div>
          <div class="bajo-footer">
              <div class="footer__div__metodos--pago--envio">
                  
                  <img class="footer__div__metodos--pago--envio--envio" src="/img/footer/formas-envio.png" alt="formas de envio">
                  
                  <div class="footer__div__div__copyrigth">
                      <p>Copyrigth&copy; 2023 Ar3Dex, inc</p>
                      <h5>Informacion Legal | Politicas de privacidad</h5>
                  </div>
                  <img class="footer__div__metodos--pago--envio--pago" src="/img/footer/formas-pago.png" alt="formas de pago">
              </div>
              
              
          </div>
          
      </div>
  </footer>
    
    </body>
    </html>
    
</body>

</html>