<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/2872c6d2ab.js" crossorigin="anonymous"></script>
    <title>Ar3dex  Compras</title>
</head>
<body>
    <header class="header">
        <div class="header_main"> 
         <img src="/img/Desktop_-_1-removebg-preview.png" alt="logo" class="logo">
         
         <a href="#" class="hamburguer">
             <i class="fa fa-bars"></i>
         </a>
         <span class="iconos"><a href="" class="carrito"><i class="fa-solid fa-cart-plus"></i></a>
         <a href="" class="cuenta"><i class="fa-regular fa-user"></i></a></span>
         </div>
         <span class="search_bloque"><div class="search"><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Buscar productos</a></div></span>
         <nav class="nav_bar">
             <ul>
                <div><li><a href="#">Figuras</a></li></div>
                <div><li><a href="#">Coleccion</a></li></div>
                <div><li><a href="#">Contactos</a></li></div>
                <div><li><a href="#">Blog</a></li></div>
                <div><li><a href="#">Ofertas</a></li></div>
             </ul>
         </nav>
 
     </header>
    <main>
        <section class="productCart_section">
            <article class="productCart_section_article">
                <div class="productCart_main_section_article_div">
                    <img src="/img/goku,png.png" alt="producto" class="producto">
                <p>Figura coleccionable-Goku Saga Saiyajins: $20.000,00</p>
                <a href="basura" class="basura"><i class="fa-solid fa-trash-can"></i></a>
            </div>
            </article>
            <article class="productCart_section_article">
                <div class="productCart_main_section_article_div">
                    <img src="/img/gogeta-removebg-preview.png" alt="producto" class="producto">
                <p>Figura coleccionable-Fusion Gogeta: $21.000,00</p>
                <a href="basura" class="basura"><i class="fa-solid fa-trash-can"></i></a>
            </div>
            </article>
            <article class="productCart_section_article">
                <div class="productCart_main_section_article_div">
                    <img src="/img/mate-removebg-preview.png" alt="producto" class="producto">
                <p>Mate Akatsuki-Naruto(2): $4.000,00</p>
                <a href="basura" class="basura"><i class="fa-solid fa-trash-can"></i></a>
            </div>
            </article>
        </section>
        <form action="/comprar-producto" method="post">
            <div>
                Subtotal(sin envio): 45.000,00
            </div>
            <img src="/img/gokuenvio-removebg-preview.png" alt="goku" ><p>Medios de envio</p>
            <div>
               <label>Tu Codigo Postal:</label>
            </div>
            <div>
               Retirar por el local:    $0
            </div>
            <div>
               Direccion del local: Av.Mitre 2020
            </div>
            <div>
                <p>Total: $45.000,00</p>
                <p>O hasta 3 cuotas sin interes</p>
            </div>
            
                <button type="submit">Iniciar Compra</button>
            
        </form>
    </main>
</body>
</html>