<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Ar3Dex | Descripcion de producto</title>
</head>

<body class="detalleProducto">
    <main class="detalleProducto__main">
        <article class="detalleProducto__main__articule">
            <div class="detalleProducto__main__articule__div__nombre-y-imagen">
                <h2>GOKU LA FIGURA DE ACCION ARTICULADA IMPRESA EN 3D</h2>
                <img src="/img/productDetail/017-removebg-preview.png" alt="Goku base">
            </div>
            <div class="detalleProducto__main__articule__div__pago">
                <div class="detalleProducto__main__articule__div__pago__precio">
                    <p class="detalleProducto__main__articule__div__pago__precio__precioNormal">$40.000</p>
                    <h3 class="detalleProducto__main__articule__div__pago__precio__precioOferta">$20.000</h3>
                </div>
                <hr class="detalleProducto__main__articule__div__precios__lineaSeparadora">
                <div class="detalleProducto__main__articule__div__precios__cuotas">
                    <p>Hasta 3 cuotas sin interés de </p>
                    <h2>$6.666</h2>
                </div>
                <h4 class="detalleProducto__main__articule__variaciones">VARIACIONES</h4>
                <div class="detalleProducto__main__articule__div__nombre-y-imagen__div__carrusel">
                    <img src="/img/productDetail/goku-saiyan1.png" alt="goku-saiyan1">
                    <img src="/img/productDetail/goku-saiyan2.png" alt="goku-saiyan2">
                    <img src="/img/productDetail/goku-saiyan3.png" alt="goku-saiyan3">
                </div>
                <button class="detalleProducto__main__articule__div__precios__btnAgregarCarrito">
                    AGREGAR AL CARRITO </button>
                <img src="/img/productDetail/Formas-de-pago-opciones-scaled.png" alt="formas de pago"
                    class="detalleProducto__main__articule__div__precios__formasDePago">
            </div>
        </article>
        <article class="detalleProducto__main__articule__caracteristicas">
            <div class="detalleProducto__main__articule__caracteristicas__div">
                <h2 class="detalleProducto__main__articule__caracteristicas__div__caracteristicas">CARACTERISTICAS</h2>
            </div>
            <div class="detalleProducto__main__articule__caracteristicas__div__detalles">
                <div class="detalleProducto__main__articule__caracteristicas__div__detalles__imagen">
                    <img src="/img/productDetail/goku-kame-ha.png" alt="goku-kame-ha">
                </div>
                <div class="detalleProducto__main__articule__caracteristicas__div__detalles__material">
                    <h3>MATERIAL</h3>
                    <P class="detalleProducto__main__articule__caracteristicas__div__detalles__material--mobile">Hecho
                        en material ABS. el filamento ABS es un material muy duro y resitente en estado solido</P>
                    <P class="detalleProducto__main__articule__caracteristicas__div__detalles__material--tablet">
                        Hecho en material ABS para la impresion 3D. Si hablamos de tipos de impresion, este es sin dudas
                        el mas utilizado en la impresion 3D, el filamento ABS, es un material muy duro y resitente en
                        estado
                        solido. No obstante, tambien puede encontrarse en formato polvo o en liquido </P>
                </div>
            </div>
        </article>
        <article class="detalleProducto__main__articule__caracteristicas">
            <div class="detalleProducto__main__articule__caracteristicas__div__detalles--2">
                <div class="detalleProducto__main__articule__caracteristicas__div__detalles__material--2">
                    <h3>PINTURA</h3>
                    <P class="detalleProducto__main__articule__caracteristicas__div__detalles__material--tablet--2">
                        Pintado con Acrilico desde la durabilidad, las pinturas acrilicas para aerografos son de las
                        mas resistentes. Sus pigmentos estan suspendidos en una disolucion de polimeros acrilicos,
                        es decir, plastico, lo que las hace muy resistentes al agua, No resiten muy bien, en cambio a
                        los
                        disolvente quimicos como la acetona o el alcohol </P>
                </div>
                <div class="detalleProducto__main__articule__caracteristicas__div__detalles__imagen--2">
                    <img src="/img/productDetail/goku-pose pelea.png" alt="goku-pose pelea">
                </div>
            </div>
        </article>
        <article class="detalleProducto__main__articule__caracteristicas--3">
            <div class="detalleProducto__main__articule__caracteristicas__div__detalles">
                <div class="detalleProducto__main__articule__caracteristicas__div__detalles__imagen">
                    <img src="/img/productDetail/goku-saludo.png" alt="goku-saludo">
                </div>
                <div class="detalleProducto__main__articule__caracteristicas__div__detalles__material">
                    <h3>MEDIDAS</h3>
                    <P class="detalleProducto__main__articule__caracteristicas__div__detalles__material--mobile">Hecho
                        en material ABS. el filamento ABS es un material muy duro y resitente en estado solido</P>
                    <P class="detalleProducto__main__articule__caracteristicas__div__detalles__material--tablet">
                        Resolucion: 0.1 mm <br>
                        Boquilla: 0.4 <br>
                        Necesita soportes: Si <br>
                        Filamento: PLA <br>
                        Relleno: 40% <br>
                        Altura de la capa inicial: 0.2 mm <br>
                        Anchura de la linea superior/inferior:0.3 mm <br>
                        Anchura de la lines del borde: 0.4 mm <br>
                        Espesor de pared: 1.2 mm <br>
                        Velocidad de print: 42 <br>
                        Tipo de aderencia de la placa de impresion: brim
                    </P>
                </div>
            </div>
        </article>
        <article class="detalleProducto__main__articule__puedeInteresar">
            <div class="detalleProducto__main__articule__puedeInteresar__div__titulo">
                <h2>Tambien puede interesar</h2>
            </div>
            <div class="detalleProducto__main__articule__puedeInteresar__div__producto">


                <div class="detalleProducto__main__articule__puedeInteresar__div__producto--1">
                    <a href="/product-detail">
                    <img src="/img/productDetail/vegeta-base.png" alt="vegeta-base">
                    <h4>Vegueta estado base</h4></a>
                </div>


                <div class="detalleProducto__main__articule__puedeInteresar__div__producto--2">
                    <a href="/product-detail">
                    <img src="/img/productDetail/piccollo.png" alt="piccollo">
                    <h4>Piccolo Daimaku</h4></a>
                </div>


                <div class="detalleProducto__main__articule__puedeInteresar__div__producto--3">
                    <a href="/product-detail">
                    <img src="/img/productDetail/kid-buu.png" alt="kid-buu">
                    <h4>Kid Buu</h4></a>
                </div>
            </div>

        </article>
    </main>
    <footer>

    </footer>
</body>

</html>