<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ar3Dex | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6d097c18fe.js" crossorigin="anonymous"></script>
</head>
<header>
        <section class="header__section__div">
            <div class="logo">
                <a href="/"><img src="img/logo.png" alt="Logo de ar3dex" /></a>
            </div>

            <div class="search-bar">
                <input class="search-bar-input" type="text" placeholder="Buscar productos..." /><i class="fa-solid fa-magnifying-glass" id="lupita" style="color: #969696;"></i>
                
            </div>

            
        </section>
        
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Figuras</a></li>
                <li><a href="#">Llaveros</a></li>
                <li><a href="#">Mates</a></li>
            </ul>
            
            <ul class="ul_2">
                    <li><a href="/register"><i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-basket-shopping"></i></a></li>
                
            </ul>
        </nav>
        <div class="home_header_mobile_hamburger">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </div>
</header>
    <main class="register__main">
    <section class="box__card">
        <div class="box__card--title">
            <h3>Creá tu cuenta</h3>
            <hr>
        </div>
        <form action="" class="form">
            <div class="form__box">
                <label class="form__label" for="name">Nombre</label>
                <input class="form__input" id="name" type="text" placeholder="Escribí tu nombre" name="name">
                <small class="form__msg-error">El nombre es obligatorio</small>
            </div>
            <div class="form__box">
                <label class="form__label" for="surname">Apellido</label>
                <input class="form__input" id="surname" type="text" placeholder="Escribí tu apellido" name="surname">
            </div>
            <div class="form__box">
                <label class="form__label" for="email">Email</label>
                <input class="form__input" id="email" type="email" placeholder="correo@correo.com" name="email">
            </div>
            <div class="form__box">
                <label class="form__label" for="password">Contraseña</label>
                <input class="form__input" id="password" type="password" placeholder="tu contraseña" name="password">
            </div>
            <div class="form__box">
                <label class="form__label" for="password2">Confirma tu contraseña</label>
                <input class="form__input" id="password2" type="password" placeholder="confirma tu contraseña" name="password2">
            </div>
            <div class="redes-sociales"><p style="color: black;">O registrate tambíen con</p>
                <a href="https://www.facebook.com/" target="_blank"
                ><i class="fa-brands fa-facebook" ></i></a>
                <a href="https://www.google.com/" target="_blank"
                ><i class="fa-brands fa-google"></i></a>
                <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter" ></i></a>
                <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram" ></i></a>
                
            </div>
            <div class="box__end">
                <button class="button button__segundo" type="reset">Borrar</button>
                <button class="button button__primary" type="submit">Enviar</button>
            </div>
        </form>
    </section>
    </main>
    <div class="form__box__2">
        <p>¿Ya estás registrado? <a class="link" href="/login">Ingresá</a></p>
    </div>

<footer>
    <section class="envio-gratis">
        <i class="fa-solid fa-gift" style="color:#1259c3"></i>
        <h3>Envío gratis desde $2,500</h3>
        <p>
        Solo por estar registrado en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
        </p>
    </section>

    <div class="copyright">
        <p>&copy; 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>

</body>
</html>