.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-prev {
    color: white;
}

.swiper-button-next {
    color: white;
}