.swiper {
    width: 100%;
    padding: 25px;
    padding-top: 10%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.25) 15%, rgba(0,0,0,0.65) 35%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0.7) 65%, rgba(0,0,0,0.45) 85%, rgba(0,0,0,0) 100%);
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25%;
    max-width: 285px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-prev{
    color: white;
}

.swiper-button-next {
    color: white;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    width: +8px;
    padding: +8px;
}

@media (min-width: 1024px) {
    .swiper-button-next, .swiper-button-prev {
        display: flex;
    }
}