.form {
    display: flex;
    flex-wrap: wrap;
}

.form__box {
    margin-bottom: 20px;
    width: 100%;
}

.form__box__2 {
    margin-bottom: 20px;
    width: 100%;
    font-size: 90%;
    padding-bottom: 40px;
    padding-top: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    
}

.form__box__p{
    color: aliceblue;
    text-align: center;
    padding:20px;
}



.form__box--position {
    position: relative;
}

.form__box--position span {
    position: absolute;
    right: 10px;
    top:20px;
    cursor: pointer;
    color: var(--colorGris);
    
}

.form__label {
    margin-bottom: 20px;
    color:var(--colorAzul);
}

.form__input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #c0c0c0;
    margin-top: 10px;
}


