.form {
    display: flex;
    flex-wrap: wrap;
}

.form__box {
    margin-bottom: 20px;
    width: 100%;
}

.form__box__2 {
    margin-bottom: 20px;
    width: 100%;
    font-size: 70%;
    display: flex;
    justify-content: center;
}

.form__box--position {
    position: relative;
}

.form__box--position span {
    position: absolute;
    right: 10px;
    top:20px;
    cursor: pointer;
    color: var(--colorGris);
    
}

.form__label {
    margin-bottom: 20px;
}

.form__input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    margin-top: 10px;
}


