:root {
--tipografiaGeneral : 'Inter', sans-serif;
--colorGris : #7a7a7a;
--colorAzul : #2372e8;
--colorVerde : #24c773;
--colorVioleta : #801E6A;
--colorFucsia : #8507A4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color : black;
}

li {
    list-style: none;
}

textarea {
    resize: none;
}

body {
    font-family: var(--tipografiaGeneral);
    max-width: 1140px;
    margin: 0 auto;
}