.box__card {/*La caja*/
    max-width: 768px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color:rgb(214, 214, 214);
    box-shadow: 5px 5px 5px #24c773;
    border-radius: 15px;
    justify-content: center;
}

.box__end {/*Botón Envíar e ingresar*/
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}