.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__box {
    margin-bottom: 20px;
    width: 100%;
    
}

.form__box__2 {
    margin-bottom: 60px;
    width: 100%;
    font-size: 90%;
    padding-bottom: 1px;
    padding-top: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    
}

.form__box__p{
    color: aliceblue;
    text-align: center;
    padding:20px;
}


.form__box__pp{
    color: rgb(10, 28, 43);
    text-align: center;
    padding:20px;
}


.form__box--position {
    position: relative;
}

.form__box--position span {
    position: absolute;
    right: 10px;
    top:20px;
    cursor: pointer;
    color: var(--colorGris);
    
}

.form__label {
    margin-bottom: 20px;
    color:var(--colorAzul);
}

.form__input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #c0c0c0;
    margin-top: 10px;
    box-shadow: 2px 2px 5px #9124c7;
}


