:root {
--tipografiaGeneral : 'Inter', sans-serif;
--colorGris : #7a7a7a;
--colorAzul : #2372e8;
--colorVerde : #24c773;
--colorVioleta : #801E6A;
--colorFucsia : #8507A4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color : white;
}

li {
    list-style: none;
}

p{
    margin: none;
}



body {
    font-family: 'inter';
    max-width: 1366px;
    margin: 0 auto;
    font-family: var(--tipografiaGeneral);
    background-image: url('/images/dragonballz.jpeg');
}