body {
  background-image: url("/images/Fondo.jpeg");
}
.logo {
  width: 150px;
  margin-top: 40px;
}
.hamburguer {
  background: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(128, 30, 106, 1) 100%
  );
  color: var(--colorGris);
  border: solid 1px black;
  padding: 5px 8px;
  border-radius: 3px;
  max-height: 40px;
  max-width: 50px;
  font-size: 1.5rem;
  margin-top: 10px;
}
.iconos {
  display: none;
}
.nav_bar {
  display: none;
}
.carrito {
  margin-top: 20px;
  color: white;
}
.cuenta {
  margin-top: 20px;
  color: white;
}
.header_main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.search-bar {
  border: solid 1px black;
  display: block;
  background-color: var(--colorVioleta);
  display: none;
}
.search-bar i {
  margin-inline: 10px;
}
.search-bar button {
  background: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(128, 30, 106, 1) 100%
  );
  
}

/* header-admin */
.navbar-custom {
  background: linear-gradient(to right, rgb(26, 1, 39), #f217fd);
}

.navbar-custom ul li a{
  color: rgb(254, 254, 254);
}

.card-header-custom {
  background: linear-gradient(to right, rgb(65, 2, 50), #e73eea);
  color: white; 
}





@media (min-width: 768px) {
  .header_main {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .iconos {
    display: flex;
    position: absolute;
    justify-content: center;
    right: 50px;
    top: 50px;
    font-size: 30px;
  }
  .cuenta {
    position: relative;
    left: 5px;
  }
  .logo {
    position: relative;
    bottom: 40px;
    width: 400px;
  }
  .search-bar {
    display: flex;
  }
  .search-bar-input {
    background: linear-gradient(
    -180deg,
    rgb(207, 207, 207) 15%,
    rgb(180, 180, 180) 60%,
    rgb(125, 125, 125) 100%
  );
    text-shadow: 1px 1px 1px rgb(51, 51, 51);
    
  }
  .carrito {
    display: block;
  }
  .hamburguer {
    display: none;
  }
  .nav_bar {
    display: flex;
  }
  .nav_bar div {
    border: solid 1px black;
    background: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 1) 8%,
      rgba(128, 30, 106, 1) 100%
    );
  }
  .nav_bar ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }
  .nav_bar li {
    margin: 0px 5px;
    padding: 3px 10px;
  }
  .nav_bar a {
    color: var(--colorGris);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
  }
  #lupita {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30px;
    margin-bottom: 40px;
    max-height: 45px;
    
  }
  .carrito {
    display: block;
  }
}
@media (min-width: 1024px) {
  .nav_bar li {
    font-size: 25px;
  }
  .iconos {
    font-size: 40px;
  }
}
