body{
    background-image: url('/images/Fondo.jpeg');}
/*carrito*/
.article_img{
width: 50px
}
.productCart_section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.productCart_section_article{
  width: 100%;
}
.productCart_main_section_article_div{
    display: flex ;
    margin: 20px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--colorFucsia);
    justify-content: space-between;
    text-align: center;
}

.productCart_main_section_article_div_images{
    display: flex;
    align-items: center;
}
.productCart_main_section_article_div p{
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0%;
    
}
.basura{
    margin: 5px;
    font-size: 180%;
    padding: 3px;
    color: aliceblue;
    border-radius: 2px;
}
.basura:hover{
    background-color:#7a7a7a5e;
}
.productCart_form{
    border: solid 1px black;
    margin: 0px 50px;
    border-radius: 5px;
    background-color: #D9D9D9;
    align-self: center;
}
.productCart_form_div{
    
    margin: 10px 10px;
    border-radius: 5px;
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}
.goku_envio{
    width: 10%;
}
.productCart_Envio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.total{
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
    align-items: center;
    flex-direction: column
}
.productCart_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productCart_button{
    background-color: var(--colorAzul);
    width: 100%;
    border: solid 1px black;
    margin: 10px 10px;
    border-radius: 5px;
    height: 35px;
}
.contador{
    display: none;
}
/*.productCart_text{
    text-indent: 5px;
}*/

    
@media (min-width: 768px){
     /*carrito tablet*/
     .main_productos{
      display: flex;
      align-items:flex-start;
      margin-top: 40px;
      position: relative;
     }
    
    .contador{
        background-color: var(--colorGris);
        border-radius: 10px;
        border: solid 1px black;
        display: block;
        padding: 2px;
        margin-bottom: 0;
        min-width: 70px;
    }

}
    