<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{
  title:"Home"
}) %>
<body>
    <%- include('./partials/header') %>

    <main class="index__main">
        <!-- Sección oferta -->
        <section class="index__main__section--banner">
            <a href="#Oferta_pokemon"><img src="/images/Main-banner.svg" alt="Oferta_pokémon"></a>
        </section>
        <!-- Carrusel - Productos destacados -->
        <section class="index__main__section--products">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  
                  <% for( let i = 0; i < 6; i++ ) { %>
                  
                    <%- include('./partials/product-card') %>

                  <% } %>
                  
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              </div>
        </section>
        <!-- Categorías destacadas -->
        <section class="index__main__section--categories">
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/images/Category-1.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/images/Category-2.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/images/Category-3.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/images/Category-4.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
          <article class="index__main__section__article--category">
            <img class="index__main__section__article--category--image" src="/images/Category-5.png" />
            <h4 class="index__main__section__article--category--name">CategoryName</h4>
          </article>
        </section>
    </main>
    

    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper",{
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: -6,
          stretch: -30,
          depth: 80,
          modifier: 2,
          slideShadows: false,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        loop:true,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },});
    </script>
</body>
</html>