<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{
  title:"Todos los productos"
}) %>
<body>
    <%- include('./partials/header') %>

    <main class="index__main">


      <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Resultados de tu búsqueda</h2>
          </div>
          <!-- Show the products -->
          <% products.forEach(product => { %>
            <%- include('./partials/cardProduct',{product}) %>
          <% }) %>

        </div>
      </div>



        <!-- Categorías destacadas -->
        <section class="index__main__section--categories">
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=1">
            <img class="index__main__section__article--category--image" src="/images/Category-1.png" />
            <h4 class="index__main__section__article--category--name">Picadores</h4>
          </a>
          </article>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=2">
            <img class="index__main__section__article--category--image" src="/images/Category-2.png" />
            <h4 class="index__main__section__article--category--name">Mates</h4>
          </a>
          </article>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=3">
            <img class="index__main__section__article--category--image" src="/images/Category-3.png" />
            <h4 class="index__main__section__article--category--name">Figuras</h4>
          </a>
          </article>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=4">
            <img class="index__main__section__article--category--image" src="/images/Category-4.png" />
            <h4 class="index__main__section__article--category--name">Máscaras</h4>
          </article>
        </a>
          <article class="index__main__section__article--category">
            <a href="/productos/buscar?keyword=5">
                <img class="index__main__section__article--category--image" src="/images/Category-5.png" />
                <h4 class="index__main__section__article--category--name">Llaveros</h4>
            </a>
        </article>
        </section>
    </main>
    

    <%- include('./partials/footer') %>


</body>
</html>