<footer class="footer">
    <div class="footer__div">
        <nav class="footer__div__nav__redes"> 
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" style="color: white;"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook" style="color: white;"></i></a>           
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter " style="color: white;"></i></a>
            <a href="https://web.telegram.org/"><i class="fa-brands fa-telegram" style="color: white;"></i></a>
        </nav>
        <div class="footer__div__div__logos">
            <img src="/images/Logo.png" alt="">
        </div>
        <div class="bajo-footer">
            <div class="footer__div__metodos--pago--envio">
                
                <img class="footer__div__metodos--pago--envio--envio" src="/images/footer/formas-envio.png" alt="formas de envio">
                
                <div class="footer__div__div__copyrigth">
                    <p>Copyrigth&copy; 2023 Ar3Dex, inc</p>
                    <h5>Información Legal | Políticas de privacidad</h5>
                </div>
                <img class="footer__div__metodos--pago--envio--pago" src="/images/footer/formas-pago.png" alt="formas de pago">
            </div>
            
            
        </div>
        
    </div>
</footer>