<header class="header">
  <section>
    <div class="header_main">
      <a href="/"><img src="/images/Logo.png" alt="logo" class="logo" /></a>

      <a href="#" class="hamburguer">
        <i class="fa fa-bars"></i>
      </a>
      <span class="iconos">
        <a href="/carrito" class="carrito"><i class="fa-solid fa-cart-plus"></i></a>
        <a href="/usuarios/ingreso" class="cuenta"><i class="fa-regular fa-user"></i></a>
      </span>
    </div>
  </section>

  <div class="barra">
    <nav class="nav_bar">
      <ul>
        <div class="div_ul">
          <li><a href="/">Inicio</a></li>
        </div>
        <div class="div_ul">
          <li><a href="">Colección</a></li>
        </div>
        <div class="div_ul">
          <li><a href="/usuarios/ingreso">Ingreso</a></li>
        </div>
        <div class="div_ul">
          <li><a href="/usuarios/registro">Registro</a></li>
        </div>
        <div class="div_ul">
          <li><a href="/admin">Dashboard</a></li>
        </div>
      </ul>
    </nav>
    <div class="search-bar">
      <input
        class="search-bar-input"
        type="text"
        placeholder="Buscar productos..."
      /><i
        class="fa-solid fa-magnifying-glass"
        id="lupita"
        style="color: #969696"
      ></i>
    </div>
  </div>
</header>