<!-- Modal -->
<div class="modal fade" id="modalRemember" tabindex="-1" aria-labelledby="modalRememberLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalRememberLabel">Términos y condiciones</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi <br>
          doloremque voluptatibus fugit fugiat eos. Numquam commodi, quia sed nemo <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fuga nam vitae est <br>
           architecto? Blanditiis ipsa est eaque cupiditate aliquid tenetur quaerat omnis atque mollitia? Similique voluptatem <br>
            modi debitis facilis!
          maiores distinctio illo architecto maxime sunt quam earum deleniti ex recusandae.</p>
      </div>
    </div>
  </div>
</div>