<article class="swiper-slide index__main__section__article--carousel">
    <a href="/productos/detalle/:id">
      <img class="index__main__section__article--carousel--product-img" src="/images/<%= mainImage  %>">
      <img class="index__main__section__article--carousel--box-img" src="/images/Article-Frame.png" />
      <div class="index__main__section__article--carousel--box-text">
        <!--<p><%= description %></p>-->
      <h4 class="index__main__section__article--carousel--name"><%= name %></h4>
      <h4 class="index__main__section__article--carousel--price"><%= price %></h4>
    </div></a>
  </article>