    <article class="productDetail__relacionados">
        <a href="/productos/detalle/<%= id %>">
            <img src="/images/<%= mainImage %>" alt="...">
            <h4>
                <%= name %>
            </h4>
            <p>
                <%= price %>USD$
            </p>
        </a>
    </article>