<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{
  title:"Registro"
}) %>
<body>
    <%- include('../partials/header') %>


    <main class="register__main">
    <section class="box__card">
        <div class="box__card--title">
            <h3>Creá tu cuenta</h3>
          
        </div>
        <form action="/usuarios/crearUsuario" method="POST" class="form" enctype="multipart/form-data">
            <div class="form__box">
                <label class="form__label" for="name">Nombre</label>
                <input class="form__input" id="name" type="text" placeholder="Escribí tu nombre" name="name">
                <small class="form__msg-error">El nombre es obligatorio</small>
            </div>
            <div class="form__box">
                <label class="form__label" for="surname">Apellido</label>
                <input class="form__input" id="surname" type="text" placeholder="Escribí tu apellido" name="surname">
            </div>
            <div class="form__box">
                <label class="form__label" for="email">Email</label>
                <input class="form__input" id="email" type="email" placeholder="correo@correo.com" name="email">
            </div>
            
            <div class="form__box">
                <label class="form__label" for="password">Contraseña</label>
                <input class="form__input" id="password" type="password" placeholder="tu contraseña" name="password">
            </div>
            <div class="form__box">
                <label class="form__label" for="passwordConfirm">Confirma tu contraseña</label>
                <input class="form__input" id="passwordConfirm" type="password" placeholder="confirma tu contraseña" name="passwordConfirm">
            </div>
            <div class="col-12 mt-3">
                <input name="userImage" type="file" class="form-control" id="userImage" hidden>
                <label class="btn btn-outline-dark w-100 btn-primary text-outline-dark" for="userImage">Agregar imagen
                    de perfil</label>
            </div>
            <div class="col-12 col-md-6 mb-3 w-100 mt-3 ">
                <div class="form-check text-dark">
                  <input class="form-check-input" type="radio" name="userCategory" id="userCategory" checked>
                  <label class="form-check-label" for="userCategory">
                    Solo Comprar
                  </label>
                </div>
                <div class="form-check text-dark">
                    <input class="form-check-input" type="radio" name="userCategory" id="userCategory">
                    <label class="form-check-label" for="userCategory">
                      Comprar y Vender
                    </label>
                  </div>
            </div>
            <div class="redes-sociales"><p style="color: black;">O registrate tambíen con</p>
                <a href="https://www.facebook.com/" target="_blank"
                ><i class="fa-brands fa-facebook" ></i></a>
                <a href="https://www.google.com/" target="_blank"
                ><i class="fa-brands fa-google"></i></a>
                <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter" ></i></a>
                <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram" ></i></a>
                
            </div>
            <div class="box__end">
                <button class="button button__segundo" type="reset">Borrar</button>
                <button class="button button__primary" type="submit">Enviar</button>
            </div>
        </form>
    </section>
    </main>
    <div class="form__box__2">
        <p>¿Ya estás registrado? <a class="link" href="/usuarios/ingreso">Ingresá</a></p>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>